body {
    width: 100%;
    height: 100%;
    background-color: #eef1fb;
}

html {
    width: 100%;
    height: 100%;
}

/* Environment for the right side bar */

.right-side-bar{
    padding-top: 280px;
    position: fixed;
    right: 0;
}

.right-side-bar.scrolled{
    padding-top: 120px;
    position: fixed;
    right: 0;
}

/* Environment for the left side bar */

.left-side-bar{
    padding-top: 280px;
}

.left-side-bar.scrolled{
    padding-top: 280px;
}

.objective-framing1{
    background: #f5f7ff;
    border: 1px solid #eee;
    border-radius: 15px;
    padding-bottom: 25px;
}

.objective-framing2{
    background: #e6eaf5;
    border: 1px solid #eee;
    border-radius: 15px;
    padding-bottom: 25px;
}

/* Environment for the sections in the benchmarking */

.h4-ubuntu {
    font-size: 13pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    color: #f46f1b;
    padding-bottom: 5px;
    border-bottom: 1px solid #f4c7ab;
    width: 150px;
}

.h3-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333333;
    margin-top: -10px;
    margin-bottom: 30px;
}

.main-text{
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: justify;
}

.h4-small {
    font-size: 12pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #f46f1b;
    margin-top: -10px;
    margin-left: -10px;
}

.no-border{
    border-left-width:0px;
}

.bs-callout{
    padding:20px;
    margin:20px 0;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius:3px;
    background-color: #f4e8e0;
    font-size: 10pt;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: justify;
    border-radius: 15px;
}

.bs-callout h4{
    margin-top:0;
    margin-bottom:5px
}

.bs-callout p:last-child{
    margin-bottom:0
}
.bs-callout code{
    border-radius:3px
}

.bs-callout+.bs-callout{
    margin-top:-5px
}

.bs-callout-danger{
    border-left-color:#d9534f
}

.bs-callout-danger h4{
    color:#d9534f;
    margin-bottom: 15px;
    font-size: 14pt;
}

.bs-callout-warning{
    border-left-color:#f46f1b
}

.bs-callout-warning h4{
    color:#f46f1b;
    margin-bottom: 15px;
    font-size: 14pt;
}

.bs-callout-info{
    border-left-color:#5bc0de
}

.bs-callout-info h4{
    color:#5bc0de
}

.vspace-30{
    margin-top: 30px;
}

/* Environment for the navigation bar */

.navbar-big {
    padding-top:200px;
    background:url(../images/logos/hand-long-text2.png) no-repeat top 20px center;
    background-color: rgba(0,41,75,0.9);/*#eef1fb;*/
    background-size:700px;
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
}

@media (max-width: 768px) {
    .navbar-big {
	padding-top:200px;
	background:url(../images/logos/hand-long-text2.png) no-repeat top 20px center;
	background-color: rgba(0,41,75,0.9);
	background-size:100%;
	-webkit-transition: padding .5s ease-in-out;
	-moz-transition: padding .5s ease-in-out;
	transition: padding .5s ease-in-out;
    }
}

.navbar-small {
    padding-top: 25px;
    background-color: rgba(0,41,75,0.9);/* #eef1fb;*/
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
    
}

.navbar-brand-logo {
    height: 60px;
    width: 100px;
    float: left;
    padding: 15px 15px;
    margin-top: -10px;
    margin-bottom: 15px;
    outline: 0;
}

.navbar-brand-logo:hover,
.navbar-brand-logo:focus {
    text-decoration: none;
    outline: 0;
}

.navbar-brand-logo.scrolled {
    height: 60px;
    width: 120px;
    float: left;
    padding: 15px 15px;
    background:url(../images/logos/hand-short-text2.png) no-repeat top 0px left 0;
    background-size:100px;
    outline: 0;
}
.navbar-brand-logo.scrolled:hover,
.navbar-brand-logo.scrolled:focus {
    text-decoration: none;
    outline: 0;
}

.dropdown {
    position: relative;
}
.dropdown-header{
    color: #f4ab7a;
    font-weight: 700;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: rgba(0,41,75,0.9);
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    color: #f46f1b;
}

.dropdown-menu > li > a{
    color: #f46f1b;
    text-decoration: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #f46f1b;
    text-decoration: none;
    background-color: #dce4f7;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #f46f1b;
    text-decoration: none;
    background-color: #dce4f7;
    outline: 0;
}


.dropdown-toggle:hover,
.dropdown-toggle:focus {
    outline: 0;
    color: #f46f1b;
    border-radius: 10px;
    background-color: #dce4f7;
}

.navbar-default .navbar-nav > li > a {
    color: #f46f1b;
    outline: 0;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #f46f1b;
    background-color: transparent;
    outline: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f46f1b;
    background-color: #022a4c;
    outline: 0;
    border-radius: 10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover{
    color: #f46f1b;
    background-color: #dce5f8;
    outline: 0;
    border-radius: 10px;
}

/* Environment for the sticky footer bar */

.navbar-footer>.container{
    height: 0;
}

.navbar-footer.collapse{
    height: 0;
}

.block {
    text-align: center;
    background-color: #eef1fb;
}

.block:before {
    content: '';
    display: inline-block;
    /*height: 100%;*/
    vertical-align: middle;
    margin-right: -0.25em;
    background-color: #eef1fb;
}

.navbar-footer-text {
    font-family: 'FFF Tusj';
    text-align: center;
    background-color: rgba(247,249,255,0.8);/* #eef1fb;*/
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    padding-bottom: 0px;
}
.navbar-footer-text:after {
    content: "Initiative for Collaborative Computer Vision Benchmarking";
    font-size: 14px;
}

@media (max-width: 768px) {
    .centered {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding-bottom: 14px;
    }
    .navbar-footer-text:after {
	content: "Initiative for Collaborative Computer Vision Benchmarking";
	font-size: 10px;
    }
}

/* Environment for the objectives */

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-center {
    width: 80%;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

.row-principle-bottom-border{
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #ccc;
}

.row-principle-top-bottom-border{
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.row-principle-top-border{
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: 1px solid #ccc;
}

.row-principle-no-border{
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.row.equal [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.row.equal{
    overflow: hidden; 
}

.vertical-space-20px{
    margin-bottom: 20px;
}

.vertical-space-50px{
    margin-bottom: 50px;
}

.img-hand-orange{
    width: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.title-principle{
    font-family: 'FFF Tusj';
    font-weight: 400;
    color: #403333;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.title-principle::first-letter{
    font-size:40px;
    color:#f46f1b;
    font-family: 'FFF Tusj';
} 

.first-par{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

.first-par-benchmark{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #333333;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.introduction-ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12.5pt;
    font-weight: 300;
    color: #333333;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.par-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11.5pt;
    font-weight: 300;
    color: #333333;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.section-benchmark{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #dce4f7;
    border: 1px solid #dce4f7;
    border-radius: 25px;
}

.section-benchmark1{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f7ff;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.section-benchmark2{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e6eaf5;/*#eef1fb;*/
    border: 1px solid #e6eaf5;/*#eef1fb;*/
    border-radius: 25px;
}

.extra-padding-15{
    margin-left: 15px;
    margin-right: 15px;
}

.first-reference {
    font-family: 'Ubuntu', sans-serif;
    font-size: 8pt;
    font-weight: 300;
    color: #333333;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.reference {
    font-family: 'Ubuntu', sans-serif;
    font-size: 8pt;
    font-weight: 300;
    color: #333333;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

.reference-section{
    margin-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/* Environment for the body */

.home-section {
    height: 100%;
    margin-top: 280px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    background: #f5f7ff;/*eef1fb;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.home-section.scrolled {
    height: 100%;
    margin-top: 160px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    background: #f5f7ff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.objective-section {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 25px;
    background: #f5f7ff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.benchmark-section {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 1px;
    padding-bottom: 25px;
    background: #f5f7ff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.contact-section {
    height: 100%;
    margin-top: 25px;
    margin-bottom: 90px;
    padding-top: 1px;
    padding-bottom: 25px;
    background: #f5f7ff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #f5f7ff;
    border-radius: 25px;
}

.page-header {
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-family: 'FFF Tusj';
    color: #000;
}

.page-header::first-letter{
    font-size:40px;
    color:#f46f1b;
    font-family: 'FFF Tusj';
} 

.highlight-orange {
    color: #f46f1b;
}

.framing {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.image-center{
    text-align: center;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

.text-align-left{
    text-align: left;
}

/* Panel-warning coloring for our orange matching */

.panel-warning {
    /*border-color: #faebcc;*/
    border-color: #fbc2a2;
    border-radius: 10px;
}
.panel-warning > .panel-heading {
    /*color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;*/
    color: #f57947;
    background-color: #feeee0;
    border-color: #fbc2a2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    /*border-top-color: #faebcc;*/
    border-top-color: #fbc2a2;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    /*border-bottom-color: #faebcc;*/
    border-bottom-color: #fbc2a2;
}

/* Panel-primary coloring for our blue matching */

.panel-primary {
    /*border-color: #faebcc;*/
    border-color: #dce4f7;
    border-radius: 10px;
}
.panel-primary > .panel-heading {
    /*color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #faebcc;*/
    color: #666666;
    background-color: #dce4f7;
    border-color: #dce4f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel-primary > .panel-body{
    color: #666666;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    /*border-top-color: #faebcc;*/
    border-top-color: #dce4f7;
    
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    /*border-bottom-color: #faebcc;*/
    border-bottom-color: #dce4f7;
}

/* Twitter widget */

#twitter-css {
    background-color: #eef1fb; /*#f5f7ff;*/
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

/*=======================*/
/* Additional Fonts */
/*=======================*/

/* Ubuntu fonts */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/* FFF Tusj font */
@font-face {
    font-family: 'FFF Tusj';
    font-style: normal;
    font-weight: 400;
    src: local('FFF Tusj'), url(../fonts/fff-tusj.ttf) format('truetype');
}

.navbar-footer {
    background-color: rgba(247,249,255,0.8);/* #eef1fb;*/
    border-color: #e7e7e7;
}/*
   .navbar-footer .navbar-brand {
   color: #777;
   }
   .navbar-footer .navbar-brand:hover,
   .navbar-footer .navbar-brand:focus {
   color: #5e5e5e;
   background-color: transparent;
   }
   .navbar-footer .navbar-text {
   color: #777;
   }
   .navbar-footer .navbar-nav > li > a {
   color: #777;
   }
   .navbar-footer .navbar-nav > li > a:hover,
   .navbar-footer .navbar-nav > li > a:focus {
   color: #333;
   background-color: transparent;
   }*/
.navbar-footer .navbar-nav > .active > a,
.navbar-footer .navbar-nav > .active > a:hover,
.navbar-footer .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #eef1fb;
}/*
   .navbar-footer .navbar-nav > .disabled > a,
   .navbar-footer .navbar-nav > .disabled > a:hover,
   .navbar-footer .navbar-nav > .disabled > a:focus {
   color: #ccc;
   background-color: transparent;
   }
   .navbar-footer .navbar-toggle {
   border-color: #ddd;
   }
   .navbar-footer .navbar-toggle:hover,
   .navbar-footer .navbar-toggle:focus {
   background-color: #ddd;
   }
   .navbar-footer .navbar-toggle .icon-bar {
   background-color: #888;
   }
   .navbar-footer .navbar-collapse,
   .navbar-footer .navbar-form {
   border-color: #e7e7e7;
   }
   .navbar-footer .navbar-nav > .open > a,
   .navbar-footer .navbar-nav > .open > a:hover,
   .navbar-footer .navbar-nav > .open > a:focus {
   color: #555;
   background-color: #e7e7e7;
   }
   @media (max-width: 767px) {
   .navbar-footer .navbar-nav .open .dropdown-menu > li > a {
   color: #777;
   }
   .navbar-footer .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-footer .navbar-nav .open .dropdown-menu > li > a:focus {
   color: #333;
   background-color: transparent;
   }
   .navbar-footer .navbar-nav .open .dropdown-menu > .active > a,
   .navbar-footer .navbar-nav .open .dropdown-menu > .active > a:hover,
   .navbar-footer .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #555;
   background-color: #e7e7e7;
   }
   .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a,
   .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a:hover,
   .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a:focus {
   color: #ccc;
   background-color: transparent;
   }
   }
   .navbar-footer .navbar-link {
   color: #777;
   }
   .navbar-footer .navbar-link:hover {
   color: #333;
   }*/

/* Style for the side bar in the benchamark section */

.bs-docs-sidebar.affix{
    position:static;
    margin-top:80px
}

@media (min-width:768px){
    .bs-docs-sidebar{
	padding-left:20px
    }
}

.bs-docs-sidenav{
    position: relative;
    margin-top:20px;
    margin-bottom:20px
}

.bs-docs-sidebar .nav>li>a{
    display:block;
    padding:4px 20px;
    font-size:13px;
    font-weight:500;
    color:#999999
}

.bs-docs-sidebar .nav>li>a:hover,.bs-docs-sidebar .nav>li>a:focus{
    padding-left:19px;
    color:#f46f1b;
    text-decoration:none;
    background-color:transparent;
    border-left:1px solid #f46f1b;
}

.bs-docs-sidebar .nav>.active>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a{
    padding-left:18px;
    font-weight:700;
    color:#f46f1b;
    background-color:transparent;
    border-left:2px solid #f46f1b;
}

.bs-docs-sidebar .nav .nav{
    display:none;
    padding-bottom:10px
}

.bs-docs-sidebar .nav .nav>li>a{
    padding-top:1px;
    padding-bottom:1px;
    padding-left:30px;
    font-size:12px;
    font-weight:400
}

.bs-docs-sidebar .nav .nav>li>a:hover,.bs-docs-sidebar .nav .nav>li>a:focus{
    padding-left:29px
}

.bs-docs-sidebar .nav .nav>.active>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active:focus>a{
    padding-left:28px;
    font-weight:500
}

.back-to-top,.bs-docs-theme-toggle{
    display:none;
    padding:4px 10px;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    font-weight:500;
    color:#999
}

.back-to-top:hover,.bs-docs-theme-toggle:hover{
    color:#f46f1b;;
    text-decoration:none
}

.bs-docs-theme-toggle{
    margin-top:0
}

@media (min-width:768px){
    .back-to-top,.bs-docs-theme-toggle{
	display:block
    }
}

@media (min-width:992px){
    .bs-docs-sidebar .nav>.active>ul{
	display:block
    }
    .bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom{
	width:213px
    }
    .bs-docs-sidebar.affix{
	position:fixed;
	top:20px
    }
    .bs-docs-sidebar.affix-bottom{
	position:absolute
    }

    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,.bs-docs-sidebar.affix .bs-docs-sidenav{
	margin-top:0;
	margin-bottom:0
    }
}

@media (min-width:1200px){
    .bs-docs-sidebar.affix-bottom,.bs-docs-sidebar.affix{
	width:263px
    }
}

.progress-bar-warning {
    background-color: #f46f1b;
}

a,
a:visited,
a:link,
a:hover,
a:active
{
    color: #f46f1b;
}