body {
   width: 100%;
   height: 100%;
   background-color: #f7f9ff;
}

html {
   width: 100%;
   height: 100%;
}

/* Environment for the right side bar */

.right-side-bar{
  padding-top: 280px;
  position: fixed;
  right: 0;
}

.right-side-bar.scrolled{
  padding-top: 120px;
  position: fixed;
  right: 0;
}

/* Environment for the left side bar */

.left-side-bar{
  padding-top: 280px;
}

.left-side-bar.scrolled{
  padding-top: 280px;
}

/* Environment for the navigation bar */

.navbar-big {
  padding-top:200px;
  background:url(../images/logos/hand-long-text.png) no-repeat top 20px center;
  background-color: #eef1fb;
  background-size:700px;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-big {
    padding-top:200px;
    background:url(../images/logos/hand-long-text.png) no-repeat top 20px center;
    background-color: #eef1fb;
    background-size:100%;
    -webkit-transition: padding .5s ease-in-out;
    -moz-transition: padding .5s ease-in-out;
    transition: padding .5s ease-in-out;
  }
}

.navbar-small {
  padding-top: 25px;
  background-color: #eef1fb;
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}

.navbar-brand-logo {
  height: 60px;
  width: 100px;
  float: left;
  padding: 15px 15px;
}

.navbar-brand-logo:hover,
.navbar-brand-logo:focus {
  text-decoration: none;
}

.navbar-brand-logo.scrolled {
  height: 60px;
  width: 120px;
  float: left;
  padding: 15px 15px;
  background:url(../images/logos/hand-short-text.png) no-repeat top 0px left 0;
  background-size:100px;
}
.navbar-brand-logo.scrolled:hover,
.navbar-brand-logo.scrolled:focus {
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #dce4f7;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #dce4f7;
  outline: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #fafbff;
  border-radius: 10px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #dce4f7;
  border-radius: 10px;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #fafbff;
}

/* Environment for the sticky footer bar */

.navbar-footer.collapse{
  height: 0;
}

.open .dropdown-toggle.btn-default {
  background-image: #eef1fb;
}

.block {
  text-align: center;
  background-color: #eef1fb;
}
 
.block:before {
  content: '';
  display: inline-block;
  /*height: 100%;*/
  vertical-align: middle;
  margin-right: -0.25em;
  background-color: #eef1fb;
}

.navbar-footer-text {
  font-family: 'FFF Tusj';
  text-align: center;
  background-color: #eef1fb;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  padding-bottom: 20px;
}
.navbar-footer-text:after {
  content: "Initiative for Collaborative Computer Vision Benchmarking";
  font-size: 20px;
}

@media (max-width: 768px) {
    .centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 20px;
  }
  .navbar-footer-text:after {
    content: "Initiative for Collaborative Computer Vision Benchmarking";
    font-size: 14px;
  }
}

/* Environment for the body */

.first-par{
  /*font-family: 'Chewy', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Exo 2', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  color: #666666;
  text-align: left;
}

.title-principle{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #403333;
}

.par-ubuntu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #666666;
  text-align: left;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-center {
  width:100%;
  display: block;
  margin: 0 auto;
  vertical-align: middle;
}

.row-principle{
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
}

.row-principle-no-border{
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.row.equal [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row.equal{
  overflow: hidden; 
}

.vertical-space-20px{
  margin-bottom: 20px;
}

.home-section {
  height: 100%;
  margin-top: 280px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  background: #eef1fb;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee;
  border-radius: 25px;
}

.home-section.scrolled {
  height: 100%;
  margin-top: 160px;
  margin-bottom: 10px;
  padding-bottom: 25px;
  background: #eef1fb;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee;
  border-radius: 25px;
}

.objective-section {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 25px;
  background: #eef1fb;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee;
  border-radius: 25px;
}

.benchmark-section {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 1px;
  padding-bottom: 25px;
  background: #eef1fb;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee;
  border-radius: 25px;
}

.contact-section {
  height: 100%;
  margin-top: 10px;
  margin-bottom: 90px;
  padding-top: 1px;
  padding-bottom: 25px;
  background: #eef1fb;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #eee;
  border-radius: 25px;
}

.page-header {
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-family: 'FFF Tusj';
  color: #000;
}

.page-header::first-letter{
  font-size:40px;
  color:#f46f1b;
  font-family: 'FFF Tusj';
} 

.highlight-orange {
  color: #f46f1b;
}

.framing {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.image-center{
    text-align: center;
}

/* Panel-warning coloring for our orange matching */

.panel-warning {
  /*border-color: #faebcc;*/
  border-color: #fbc2a2;
  border-radius: 10px;
}
.panel-warning > .panel-heading {
  /*color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;*/
  color: #f57947;
  background-color: #feeee0;
  border-color: #fbc2a2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  /*border-top-color: #faebcc;*/
  border-top-color: #fbc2a2;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  /*border-bottom-color: #faebcc;*/
  border-bottom-color: #fbc2a2;
}

/* Panel-primary coloring for our blue matching */

.panel-primary {
  /*border-color: #faebcc;*/
  border-color: #dce4f7;
  border-radius: 10px;
}
.panel-primary > .panel-heading {
  /*color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;*/
  color: #666666;
  background-color: #dce4f7;
  border-color: #dce4f7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.panel-primary > .panel-body{
  color: #666666;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  /*border-top-color: #faebcc;*/
  border-top-color: #dce4f7;
  
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  /*border-bottom-color: #faebcc;*/
  border-bottom-color: #dce4f7;
}

/* Twitter widget */

.twitter-css {
  background-color: #eef1fb;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

/*=======================*/
/* Additional Fonts */
/*=======================*/

/* Ubuntu fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/ubuntumono/v4/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/* FFF Tusj font */
@font-face {
  font-family: 'FFF Tusj';
  font-style: normal;
  font-weight: 400;
  src: local('FFF Tusj'), url(../fonts/fff-tusj.ttf) format('truetype');
}

.navbar-footer {
  background-color: #eef1fb;
  border-color: #e7e7e7;
}/*
.navbar-footer .navbar-brand {
  color: #777;
}
.navbar-footer .navbar-brand:hover,
.navbar-footer .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-footer .navbar-text {
  color: #777;
}
.navbar-footer .navbar-nav > li > a {
  color: #777;
}
.navbar-footer .navbar-nav > li > a:hover,
.navbar-footer .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}*/
.navbar-footer .navbar-nav > .active > a,
.navbar-footer .navbar-nav > .active > a:hover,
.navbar-footer .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #eef1fb;
}/*
.navbar-footer .navbar-nav > .disabled > a,
.navbar-footer .navbar-nav > .disabled > a:hover,
.navbar-footer .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-footer .navbar-toggle {
  border-color: #ddd;
}
.navbar-footer .navbar-toggle:hover,
.navbar-footer .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-footer .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-footer .navbar-collapse,
.navbar-footer .navbar-form {
  border-color: #e7e7e7;
}
.navbar-footer .navbar-nav > .open > a,
.navbar-footer .navbar-nav > .open > a:hover,
.navbar-footer .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-footer .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-footer .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-footer .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-footer .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-footer .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-footer .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-footer .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-footer .navbar-link {
  color: #777;
}
.navbar-footer .navbar-link:hover {
  color: #333;
}*/